<div class="assign-game-form">
    <form [formGroup]="game">
      <div class="name-game">
        <img src="./assets/elmaradona.svg" alt="I´m photo maradona">
        <input type="text" formGroupName="nameGame">
      </div>
      <div class="display-in">
      <div class="players1">
          <div class="players1-in"><img src="./assets/com.svg" alt="">
            <input type="text" placeholder="NAME"></div>
          <div class="players1-in"><img src="./assets/com.svg" alt="">
            <input type="text" placeholder="NAME"></div>
      </div>
      <div class="players1">
        <div class="players1-in"><img src="./assets/com.svg" alt="">
          <input type="text" placeholder="NAME"></div>
        <div class="players1-in"><img src="./assets/com.svg" alt="">
          <input type="text" placeholder="NAME"></div>
      </div>
      <div class="players1">
        <div class="players1-in"><img src="./assets/com.svg" alt="">
          <input type="text" placeholder="NAME"></div>
          <div class="players1-in"><img src="./assets/com.svg" alt="">
            <input type="text" placeholder="NAME"></div>
      </div>
    </div>
    </form>
</div>