<div class="register-form">
    <div class="content-text">
    <div class="text">
        <h1>Create an account</h1>
    </div>
    <div class="text-down">
        <p>Are  you not register?</p> <p routerLink="/" class="log">Register</p>
    </div>
</div>
<div class="form-content">
    <form [formGroup]="isLogin">
        <div class="form-display">
        <div class="more-inputs">
            <input type="text" placeholder="Email" formControlName="email" >
            <input type="text" placeholder="Enter your password" formControlName="password">
        </div>
        <div class="check">
        <input type="checkbox" formControlName="check"><p>I agree to the terms & conditions</p>
    </div>
    <div class="buttons">
        <button (click)="getAdmin()">Create account</button>
        <button>Are you player? Press here!</button>    
    </div>
    </div>
    </form>

</div>
</div>